// Specific CSS for your home-page
.home-container {

  h1 {
    color: #000000;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 0.5px;
    text-align: left;
  }

  p {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 16px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.5px;
  }

  a {
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: left;
  }
}

.banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  .h-green {
    color: #00AF91;
  }
  .h-orange {
    color:#F58634;
  }
  h1 {
    display: flex;
    flex-direction: column;
    background: transparent;
    font-size: 64px !important;
    line-height: 50px;
  }
}

.text {
  margin-top: 80px;
  h1 {
    text-align: center;
    font-size: 38px;
  }
}

.step {
  padding: 60px;
  margin: 40px;
  height: 300px;
  width: 300px;
  background: #FFFFFF;
  box-sizing: border-box;
  border-radius: 30px;
  justify-items: center;
  .num-g {
    color: #00AF91;
    font-size: 64px
  }
  .num-o {
    color: #F58634;
    font-size: 64px
  }
  h1 {
    flex-direction: column;
    text-align: center;
  }
  .p-green {
   color: #00AF91;
   line-height: 20px;
  }
  .p-orange {
   color: #F58634;
   line-height: 20px;
  }
  .subtitle {
    font-size: 38px;
    line-height: 60px;
  }
}

.steps {
  display: flex;
  margin-top: 30px;
}


.stepg {
  border: 5px solid #00AF91;
}

.stepo {
  border: 5px solid #F58634;
}

.card {
  border: transparent;
  text-align: center;
  align-items: center;
}

.rrss a {
  color: #000000;
}

//------------------------------------------------------
@media (max-width: 960px) {
  .container {
    width: 700px;
  }
}
@media (max-width: 720px) {
  .container {
    width: 500px;
  }
}
@media (max-width: 540px) {
  .container {
    width: 300px;
  }
}

// >>>>>>> master
