// Specific CSS for your home-page
.home-container {

h1 {
  color: #F58634;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0.5px;
  text-align: left;
}

h2 {
  color: #00AF91;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0.5px;
  text-align: left;
}

h3 {
  color: #000000;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0.5px;
  text-align: left;
}

p {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 16px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.5px;
}

g {
  color: #00AF91;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 16px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.5px;
}

o {
  color: #F58634;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 16px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.5px;
}

a {
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 36px;
  letter-spacing: 0em;
  text-align: left;
}
}
.banner {
  height: 418px;
  width: auto;
  position: relative;
  display: inline-block;
  text-align: center;
}

.photo {
  height: 418px;
  width: auto;
}

.quote {
  background: transparent;
  position: absolute;
  top: 10px;
  left: 10px;
  margin-left: 880px;
  margin-top: 200px;
}

.quote h1, h2 {
  background: transparent;
  padding: 20px;
  text-align: center;
  font-size: 49.3px;
  line-height: 22.5px;
}

.steps {
  display: flex;
  margin-top: 40px;
}

.step {
  padding: 60px;
  margin: 40px;
  height: 300px;
  width: 300px;
  background: #FFFFFF;
  box-sizing: border-box;
  border-radius: 30px;
}

.stepg {
  border: 5px solid #00AF91;
}

.stepo {
  border: 5px solid #F58634;
}

.stepo h2 {
  color: #F58634;
}

.step h1, h3, g, o {
  padding: 7px;
  text-align: center;
}

.text h3 {
  margin-top: 80px;
  text-align: center;
}

.card {
  border: transparent;
  text-align: center;
  align-items: center;
}

.rrss a {
  color: #000000;
}

//------------------------------------------------------
@media (max-width: 960px) {
  .container {
    width: 700px;
  }
}
@media (max-width: 720px) {
  .container {
    width: 500px;
  }
}
@media (max-width: 540px) {
  .container {
    width: 300px;
  }
}

// >>>>>>> master
