// Import page-specific CSS files here.
@import "home";
@import "session";
@import "registration";
@import "profile";
@import "search";

.tarjetas{
    overflow: hidden;
    border: 4px solid #F58634;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.titulo_recetas{
    font-weight: bold;
    text-justify: left;
}
.titulo_recetas a {
    text-decoration: none;
    color: black;

}

.imagen_recipes{
    height: 100%;
    width: 200px;
    object-fit: cover;
    border-radius: 12px 12px 12px 12px;
}

.tarjeta-body{
    flex: 1 1 auto;
    min-height: 1px;
    height: 130px;
}

#tarjetas-favoritos{
    height: 180px;
}
.color-star{
    color: #FFCC29
}

.titulo-negro{
    color: #020202;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 0.5px;
    text-align: left;
}
