.profile-info{
  border: 5px solid #F58634;
  border-radius: 30px;
  margin: 0px;
  padding: 20px;
  height: 150px;
  justify-content: center;
  align-items: center;
}
.profile-info p{
  margin: 20px 0px;
}

.estilos-favoritos{
  border: 5px solid #F58634;
  border-radius: 30px;
  padding: 30px;
  height: 150px;
}
.estilos-favoritos h3{
  margin: revert;
  padding: 0;
}

.green {
  border: 5px solid #00AF91;
}