.imagen-show{
    width: 100%;
    height: 500px;
    object-fit: cover;
}
.contenedor-chico{
    align-items: center;
}

#ver-receta{
    margin: 0;
    width: 200px;
    height: 50px;
    font-size: 15px;
}