.text-center {
  color: #00AF91;
  line-height: 100px;
}

.form-registrations input {
  height: 40px;
  top: 9px;
  background: #FFFFFF;
  border: 5px solid #F58634;
  box-shadow: inset 0px 4px 10px rgba(0, 0, 0, 0.3);
  border-radius: 100px;
}

.form-registrations select {
  color: #00AF91;
  line-height: 300px;
  border: 2px solid #F58634;
  border-radius: 50px;
}
