.title-busqueda {
  display: flex;
  flex-direction: column;
}

.h-green {
  font-size: 62px;
  color: #00AF91;
}

.h-orange {
  color: #F58634;
}

.select2-container {
  border: 5px solid #F58634;
  border-radius: 12px 12px 12px 12px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}
