<h1 class = " titulo-negro p-4 m-4" >Tenemos para ti ...</h1>

<div class="container">
  <div class="row">
      <% @recipes.each do |recipe| %>
        <div class="col-lg-6">
          <div class="tarjeta-body d-flex tarjetas mb-3 ml-1 m4">
            <div>
              <%= image_tag recipe.image_url, class: 'imagen_recipes' %>
            </div>
            <div class="">
              <div class="ml-4 text-left">
              <p class="titulo_recetas"><%= link_to "#{recipe.name_recipes.upcase}", recipe_path(recipe) %></p>
            </div>
            <div class="dul">
              <% @ingredientes = recipe.ingredients.first(3) %>
              <ul>
                <% @ingredientes.each do |ingredient|%>
                  <li class="contenedor-chico d-flex"><%= ingredient.name_ingredient%>
                <% end %>
              </ul>
            </div>
            <div class="pos-star-recipe">
              <% recipe.rating.times do |time| %>
                <i class="fas fa-star color-star"></i> 
              <% end %>
            </div>
            </div>
          </div>
        </div>
      <% end %>
  </div>
  <div class="row">
    <div class="col-6 offset-3">
      <%= link_to "Nueva búsqueda", search_path, class: "button-green-filled"  %>
    </div>
  </div>
</div>
  
