<div class="container">
    <h4>poner imagen aqui</h4>
    
    <div class="container-receta">
      <h1 class ="p-4 "><%= @recipe.name_recipes %></h1> 
      <h4>INGREDIENTES</h4>

      <h4>MODO DE PREPARACIÓN: </h4>
      <%= @recipe.preparation  %>
    </div>
</div>



