<!DOCTYPE html>
<head>
  <meta charset ="utf-8">
  <meta http-equiv="X-UA-Compatible" contect="IE=edge">
  <title>Navbar</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link ref="stylesheet" href="">
</head>
<body>
  <header>
    <img class="logo" src="../assets/images/logo.jpg" alt="logo">
    <nav>
      <ul class="nav_links">
        <li><a class="cta-claro" href="#"><button>Iniciar Sesión</button></a></li>
        <li><a class="cta" href="#"><button>Regístrate</button></a></li>
      </ul>
    </nav>
  </header>
</body>




</html>