<div class="border-bottom">
  <div id="navbar d-flex justify-content-between align-items-center align-item-center container py-3">
    <img src="images/logo.png" id="logo">
    <div class="navbar"  id="navbar-right">
      <a href="#Iniciar Sesión">Iniciar Sesión</a>
      <a href="#Registrate">Registrate</a>
    </div>
  </div>
</div>