<!DOCTYPE html>
<head>
  <meta charset ="utf-8">
  <meta http-equiv="X-UA-Compatible" contect="IE=edge">
  <title>Navbar</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link ref="stylesheet" href="">
</head>
<body>
  <header>
    <img class="logo" src="<%= asset_path('logo.jpg')%>" alt="logo">
    <nav>
      <ul class="nav_links">
        <%= link_to  "Iniciar Sesión", users/sign_in_path, class: 'button-green' %>
        <%= link_to  "Regístrate", users/sign_up_path, class: 'button-navbar' %>
      </ul>
    </nav>
  </header>
</body>




</html>