<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>VeggeTable</title>
  <link rel="stylesheet" href="style.css">
  <meta charset="utf-8">
  <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,700|Poppins:300,400,500,700" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">

</head>

<body>

<div class="home-container">
  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= asset_path('image.png')%>);">
    <div class="d-flex justify-content-end align-items-end w-75">
      <h1><span class="h-green text-center">Buena mano</span> <span class="h-orange">y todo a mano</span></h1>
    </div>
  </div>

  <div class="container">
    <div class="text">
      <h1>En 3 simples pasos</h1>
    </div>

    <div class="steps">
      <div class="step stepg">
        <h1><span class="num-g">1 </span><span class="subtitle">Revisa</span></h1>
        <p><span class="p-green">No te preocupes! Cocinaremos solo con tus ingredientes disponibles</span></p>
      </div>

      <div class="step stepo">
        <h1><span class="num-o">2 </span><span class="subtitle">Ingresa</span></h1>
        <p><span class="p-orange">Ingresa tantos ingredientes como gustes, ¡el límite también lo indicas tú!</span></p>
      </div>

      <div class="step stepg">
        <h1><span class="num-g">3 </span><span class="subtitle">Cocina</span></h1>
        <p><span class="p-green">Elije la receta que prefieras y cocina sin salir de casa y sin gastar demás</span></p>
      </div>
    </div>

    <%= link_to "Búsqueda", search_path, class: "button circle" %>

    <div class="card">
      <a>No es solo tener buena mano para cocinar, sino cocinar con lo que tengo a mano</a>
      <ul class="rrss">
        <a href="" target="_blank">
          <i class="fab fa-instagram"></i>
        </a>
        <a href="" target="_blank">
        <i class="fab fa-facebook"></i>
        </a>
        <a href="" target="_blank">
          <i class="fab fa-twitter"></i>
        </a>
      </ul>
    </div>
  </div>
</div>
</body>
</html>
