<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>VeggeTable</title>
  <link rel="stylesheet" href="style.css">
  <meta charset="utf-8">
  <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,700|Poppins:300,400,500,700" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">

</head>

<body>
  <div class="banner">
    <img src="" alt="banner" class="photo">
    <div class="quote">
      <h1>Buena mano</h1>
      <h2>y todo a mano</h2>
    </div>
  </div>

  <div class="container">
    <div class="text">
      <h3>En 3 simples pasos</h3>
    </div>

    <div class="steps">
      <div class="step stepg">
        <h1>1</h1>
        <h3>Revisa</h3>
        <g>No te preocupes! Cocinaremos solo con tus ingredientes disponibles</g>
      </div>

      <div class="step stepo">
        <h1>2</h1>
        <h3>Ingresa</h3>
        <o>Ingresa tantos ingredientes como gustes, ¡el límite también lo indicas tú!</o>
      </div>

      <div class="step stepg">
        <h1>3</h1>
        <h3>cocinar</h3>
        <g>Elije la receta que prefieras y cocina sin salir de casa y sin gastar demás</g>
      </div>
    </div>

    <div href="" type="button" class="button" target="_blank">
      <a>Búsqueda</a>
    </div>

    <div class="card">
      <a>No es solo tener buena mano para cocinar, sino cocinar con lo que tengo a mano</a>
      <ul class="rrss">
        <a href="" target="_blank">
          <i class="fab fa-instagram"></i>
        </a>
        <a href="" target="_blank">
        <i class="fab fa-facebook"></i>
        </a>
        <a href="" target="_blank">
          <i class="fab fa-twitter"></i>
        </a>
      </ul>
    </div>
  </div>

</body>
</html>
