.button-orange{
  user-select: none;
  width: 194px;
  background-color: #F58634;
  color: white;
  font-size: 1rem;
  border-radius: 2rem;
  padding: 15px;
  font-size: 16px;
  display: block;
  margin: 0 auto;
  font-weight: 600;
  margin-top: 50px;
  margin-bottom: 50px;
}
.button-orange:hover {
  background-color: #00AF91;
  color: #F58634;
  text-decoration: none;
}

.button {
  text-decoration: none;
  color: rgb(255, 255, 255);
  border-radius: 44px;
  background-color: #F58634;
  width: 397px;
  height: 100px;
  box-shadow: 2px 2px 3px #8eb3ac;
  text-decoration: none;
  padding: 15px 30px;
  font-size: 24px;
  margin: 0 auto;
  font-weight: 600;
  margin-top: 50px;
  margin-bottom: 50px;
  border-style: solid;
  border: initial !important;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button div {
  border: 3px solid white;
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

.button:hover {
  background-color: #00AF91;
  color: rgb(248, 145, 48);
  text-decoration: none;
}

.button-green-filled {
  color: rgb(255, 255, 255);
  width: 194px;
  background: #00AF91;
  text-align: center;
  box-sizing: border-box;
  font-size: 1rem;
  border-radius: 2rem;
  padding: 15px;
  font-size: 16px;
  display: block;
  margin: 0 auto;
  font-weight: 600;
  margin-top: 50px;
  margin-bottom: 50px;
  text-decoration: none;
}

.button-green-filled:hover {
  background-color: #F58634;
  color: #00AF91;
  text-decoration: none;
}
