.cards{
  overflow: hidden;
  height: 150px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  border: 2px solid #F58634;
  border-radius: 15px;
}

.card_title_recipes{
  font-weight: bold;
}
.title_recipes a {
  text-decoration: none;
  color: black;
}

.card_imagen_recipes{
  width: 50px;
  height: 100%;
  object-fit: cover;
  border-radius: 12px 0px 0px 12px;
}