.tarjetas{
  overflow: hidden;
  border: 4px solid #F58634;
  border-radius: 15px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.tarjeta-body{
  flex: 1 1 auto;
  min-height: 1px;
  height: 130px;
}

#tarjetas-favoritos{
  height: 180px;
}
.color-star{
  color: #FFCC29
}

#re{
  position: relative;
  width: 100%;
}

.pos-star{
  position: absolute;
  top: 140px;
  left: 350px;
}

.pos-star-recipe{
  position: absolute;
  top: 97px;
  left: 420px;
}