.box-sessions {
  display: flex;
  margin: auto;
  width: 520px;
  height: 620px;
  background: #FFFFFF;
  top: 60%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  padding: 40px 30px;
  border-radius: 50px;
  bottom: -15.79%;
  box-shadow: inset 0px 4px 10px rgba(0, 0, 0, 0.5);
  // box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.5);
}

.box-registrations {
  display: flex;
  margin: auto;
  width: 520px;
  height: 620px;
  background: #FFFFFF;
  top: 60%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  padding: 40px 30px;
  border-radius: 50px;
  bottom: -15.79%;
  box-shadow: inset 0px 4px 10px rgba(0, 0, 0, 0.5);
  // box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
}
