@import url('http://fonts.googleapis.com/css?family=Open+Sans:400|Poppins=400');

.navbar-btn-Salir {
  background-color: #00AF91;
  border-radius: 44px;
  padding: 14px 24px;
  color: #fff;
  border-color: #00AF91;
  border-radius: 44px;
  border: 2px solid;
}

.navbar-btn-Perfil{
  text-decoration: none;
  color: #00AF91;
  background-color: white;
  border: 2px solid;
  border-color: #00AF91;
  border-radius: 44px;
  margin-left: 30px;
  padding: 14px 24px;
}

.logo {
  cursor: pointer;
  margin-right: auto;
  width: 150px;
  height: auto;
}

.navbar-btn-Salir:hover {
  background-color: rgba(0, 175, 145, 0.8);
  color: #fff;
  text-decoration: none;
}
