.navbar-lewagon {
  justify-content: space-between;
  background: white;
  transition: 0.5s background-color ease;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 2;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
