// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";
@import "pages/recipe-show";
@import 'select2/dist/css/select2';

body {
  font-family: Poppins;
  text-align: center;
  align-self: center;
  align-content: center;
  background-color: #ffffff;
}

.select2-selection__choice {
  background-color: white;
  border: none;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
  /* background-color: #e4e4e4; */
  /* border: 1px solid #aaa; */
  background-color: white !important;
  border: none !important;
  border-radius: 4px;
  box-sizing: border-box;
  display: inline-block;
  margin-left: 5px;
  margin-top: 5px;
  padding: 0;
  padding-left: 20px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: bottom;
  white-space: nowrap;
}